html {
    font-size: 16px; /* Tamaño de letra base para rem */
}

body {
            background: #3F5EFB;
            background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

.container {
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrado horizontal */
    padding: 20px; /* Espacio interno */
}

.box {
    width: 10em; /* Ancho relativo al tamaño de letra del elemento */
    height: 5em; /* Alto relativo al tamaño de letra del elemento */
    font-size: 12pt; /* Tamaño de letra en puntos */
    border: 2mm dashed rgb(17, 17, 24); /* Borde en milímetros */
}


